.App {
  text-align: center;
  overflow-x: hidden;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  opacity: 0;
  margin-top: 30vh;
  margin-bottom: 10vh;
  animation-name: downArrow;
  animation-fill-mode: forwards;
  animation-duration: 2.2s;
  animation-delay: 2.2s;
}

button {
  outline: none;
  position: fixed;
  z-index: 100;
}

h1#name {
  position: relative;
  font-size: 10vw;
  color: white;
  animation-name: nameAnimation;
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
}

.menuContainer {
  display: inline-block;
  cursor: pointer;
}

.navbar {
  position: relative;
  align-items: left;
  justify-content: left;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.page2 {
  margin-top: 0vh;
}

@keyframes nameAnimation {
  0% {
    left: -350px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes downArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
