.App {
  text-align: center;
}

h1#name {
  position: relative;
  font-size: 130px;
  color: white;
  animation-name: nameAnimation;
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes nameAnimation {
  0% {
    left: -350px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
