.App {
  align-items: center;
  overflow: hidden;
  height: 100%;
  background-color: #282c34;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

p.route {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  margin: 5vw;
}

a:link {
  text-decoration: none;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  opacity: 0;
  margin-top: 10%;
  margin-bottom: 1%;
  align-self: flex-end;
  animation-name: downArrow;
  animation-fill-mode: forwards;
  animation-duration: 2.2s;
  animation-delay: 2.2s;
}

button {
  outline: none;
  position: fixed;
  z-index: 100;
}

h1#name {
  position: relative;
  font-size: 6vw;
  color: white;
  animation-name: nameAnimation;
  animation-duration: 2.2s;
  animation-delay: 0.85s;
  animation-fill-mode: forwards;
  opacity: 0;
  align-self: center;
}

div.parallax {
  /* The image used */
  background-image: url("../Images/Mock Bike Crop.jpg");

  /* Full height */
  height: 100%;
  min-width: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
  margin-right: 0;
  max-height: 100%;
  max-width: 100%;
  margin-right: 0;
  padding-right: 0;
}

p.caption {
  font-size: 28px;
  font-weight: 650;
  -webkit-text-stroke: 1px black;
}

p.tagline {
  position: relative;
  color: white;
  animation-name: taglineAnimation;
  animation-duration: 2.2s;
  animation-delay: 0.85s;
  animation-fill-mode: forwards;
  opacity: 0;
  align-self: flex-start;
}

.menuContainer {
  display: inline-block;
  cursor: pointer;
}

.navbar {
  display: flex;
  z-index: 99;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 3px;
  border-top: white;
  background-color: #282c34;
  width: 100vw;
  height: 10vh;
  visibility: visible;
  top: 0;
}

.navbar .hidden {
  display: none;
  top: -10vh;
}

div.page > p {
  text-align: left;
  padding: 2vw;
  margin: 2vw;
}

div.page {
  display: flex;
  flex-direction: column;
  height: 115vh;
}

div.page1 {
  align-items: center;
  justify-content: center;
}

div.page2 {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

div.page3 {
  align-items: center;
  justify-content: flex-start;
  height: 250vh;
  background-color: rgb(105, 105, 105);
  border-style: solid;
  border-color: black;
}

div.page4 {
  align-items: center;
  height: 210vh;
  justify-content: flex-start;
}

div.page5 {
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(105, 105, 105);
  border-style: solid;
  border-color: black;
}

div.page6 {
  align-items: center;
  justify-content: space-between;
}

div.contentDetailDark {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  align-items: flex-start;
  margin: 4%;
  padding: 2%;
  max-height: 50%;
  background-color: rgb(80, 80, 80);
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

div.contentDetailLight {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  align-items: flex-start;
  margin: 4%;
  padding: 2%;
  max-height: 50%;
  background-color: rgb(105, 105, 105);
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.contentDetail {
  margin-bottom: 2%;
  margin-right: 5%;
  padding: 2.5%;
}

#higgs {
  padding: 8px;
  width: 100%;
  transition: width 2s, height 2s, transform 2s;
  justify-self: center;
}

#higgs:hover {
  animation-name: shake, higgsAnimation;
  animation-duration: 2s, 3.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.divider {
  width: 10%;
  height: 5px;
  background-color: white;
  margin-left: 0px;
}

.pageHeader {
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 4%;
  margin-right: 4%;
}

@keyframes nameAnimation {
  0% {
    left: -350px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes higgsAnimation {
  0% {
  }
  10% {
    background-color: rgba(0, 60, 255, 0.2);
  }
  35% {
    background-color: rgba(0, 255, 42, 0.7);
  }
  50% {
    background-color: rgba(223, 248, 0, 1);
  }
  75% {
    background-color: rgb(248, 141, 0.7);
  }
  100% {
    background-color: rgba(0, 60, 255, 0.1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

@keyframes taglineAnimation {
  0% {
    left: 350px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes downArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
